{% extends "::base.html.twig" %}

{# commentaire twig #}

{% block title %}
	{{ parent() }} - détails d'une formation !
{% endblock %}
	
	


{% block body %}
<h1>
 {{ trainingDetails.title }}</h1>


{% if app.user %}

 <a href="{{ path('wf3_kika_subscription_create', {'id': trainingDetails.id} ) }}" 
		title="inscription  à cette formation "> Inscrivez-vous</a>


<a href="{{ path('wf3_kika_subscription_delete', {'id': trainingDetails.id} ) }}" 
		title="Desinscription  à cette formation "> Confirmez votre desinscription</a>
{% else %}

	 <a href="{{ path('login')}}" 
		title="se connecter afin de s inscrire  à cette formation "> Connectez-vous pour vous inscrire</a>

{% endif %}				


{# % block wrapper1  %}
<h1>
 {{ content.title }}
</h1>
<h3> {{ content.category.name }}</h3>
<div class="date">
	{{ content.dateCreated|date("d-m-Y") }}
</div>
<div class="content">
	{{ content.content }}
</div>


{% endblock % #}





{# novalidate desactive la validation html5 des pop up #}
{#   #}
{# {{ form(register_form, {'attr': {'novalidate': 'novalidate'}})}}
{% endblock %} #}

{# wf3_wikibundle_content_darecreated #}
{# chargement du calendar jQuery UI #}


{% endblock %}
