<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Kikala !{% endblock %}</title>
        {% block stylesheets %}
                <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">

            {% stylesheets '@Wf3KikaBundle/Resources/public/css/*.css' filter='cssrewrite'
            %}
             <script src="{{ asset_url }}"></script>
            

            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    {% block wrapper %}

        <div id="wrapper">
            <ul>
                <!--li><a href="#">Connexion</a></li>
                <li><a href="#">Deconnexion</a></li-->
                {% if app.user %}
                <li><a href="{{ path('logout')}}">deconnexion</a></li>
                {% else %}
                <li><a href="{{ path('login')}}">connexion</a></li>
                <li><a href="{{ path('wf3_kika_registercreate')}}">Inscrivez-vous !</a>
                
                </li>
                {% endif %}
                                                      
                
            </ul>
             

        </div>   

        
    {% endblock %}    

        {% block body %}{% endblock %}
        {% block wrapper1 %}{% endblock %}

        {% block footer %}
            <ul>
                <li><a href="{{ path('wf3_kika_home')}}">Accueil</a></li>
                <li><a href="{{ path('wf3_kika_apropos')}}">A propos de kikala</a></li>
                <li><a href="{{ url('wf3_kika_legal')}}">Mentions légales</a></li>
                <li><a href="{{ url('wf3_kika_registercreate')}}">Inscription utilisateur</a></li>
            </ul>
        
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
