{% extends "::base.html.twig" %}

{# commentaire twig #}

{% block title %}
	{{ parent() }} - Mon compte accueil !
{% endblock %}
	
	


{% block body %}
<h1>
Mon compte:  accueil !
</h1>

<div> 
	<div> Bonjour {{ kikologue.pseudo }}  !</div>
	<img src="{{ asset('uploadsimg/profil/')}}{{ kikologue.img }}">
</div>


<div>
	<div> Nombre de kikos en Banque: {{ kikologue.kikoCredit }} </div>
	<a href="{{ path('wf3_kika_addTraining')}}">Création d'une formation </a>
</div>

<div>
	<div> Nombre de formations données: {{ kikologue.coachTrainings|length }} </div>
	<a href="{{ path('wf3_kika_myTrainings')}}">Mes formations </a>
</div>
</div>

<div>
	<div> Nombre de formations suivies: {{ kikologue.subscriptions|length }} </div>
	<a href="{{ path('wf3_kika_mySubscriptions')}}">Mes inscriptions </a>
</div>


{# novalidate desactive la validation html5 des pop up #}
{#   #}
{# {{ form(register_form, {'attr': {'novalidate': 'novalidate'}})}}
{% endblock %} #}

{# wf3_wikibundle_content_darecreated #}
{# chargement du calendar jQuery UI #}


{% endblock %}
